<!-- Modal -->
<div class="modal fade" id="Modalpersonaadmineditar{{ person.id_persona }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Personas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      
      <form action="editar_persona_admin" method="POST">
      
        <input type="hidden" name="id_persona" value="{{ person.id_persona }}">
        {% csrf_token %}

        <label for="">Nombre</label>
        <input type="text" class="form-control" value="{{ person.nombre}}" aria-label="Username" aria-describedby="basic-addon1" name="nombre" required>
        <br>

        <label for="">Apellido</label>
        <input type="text" class="form-control mt-2" value="{{ person.apellido }}" aria-label="Password" aria-describedby="basic-addon1" name="apellido" required>
        <br>

        <label for="">Cedula</label>
        <input type="text" class="form-control mt-2" value="{{ person.cedula }}" aria-label="Password" aria-describedby="basic-addon1" name="cedula" required>
        <br>

        <label for="">Cargo</label>
        <input type="text" class="form-control mt-2" value="{{ person.cargo }}" aria-label="Password" aria-describedby="basic-addon1" name="cargo" required>
       <br>

       <label for="">Gerencia</label>
        <input type="text" class="form-control mt-2" value="{{ person.gerencia }}" aria-label="Password" aria-describedby="basic-addon1" name="gerencia" required>
      

      </div>
       
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
   
      </div>
    </div>
  </div>
</div