{% extends "base/base_admin.html" %}

{% block titulo %}MercalStream - Videos{% endblock %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
                <h3 class="mb-0">MercalStream - Videos</h3>
                 {% include 'modal/modal_video_admin.html' %}
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Nuevo Video
                </button>
            </div>
            
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                
                {% for video in video %}
                
                <div class="col">
                    <div class="card h-100">
                        <video class="card-img-top" controls>
                            <source src="{{ video.location.url }}" type="video/mp4">
                            Tu navegador no soporta la etiqueta de video.
                        </video>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ video.name }}</h5>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <a href="#" class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#Modalvideo-{{ video.id }}">
                                Editar
                            </a>
                            <form action="config/eliminar_videos" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ video.id }}">
                                <input type="hidden" name="name" value="{{ video.name }}">
                                <button type="submit" class="btn btn-danger">
                                    Eliminar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
              
                {% endfor %}
               
            </div>

            <nav aria-label="Paginación" class="mt-4">
                <ul class="pagination justify-content-center">
                    </ul>
            </nav>
        </div>
    </main>
</div>
{% endblock %}