{% extends "base/base_admin.html" %}

{% block titulo %}MercalStream - Videos{% endblock %}

{% block content %}
  <div id="layoutSidenav_content">
                <main>
                
                       
                     
                            <br>
                            <br>
    <div class="conta">
        <h2>Usuarios</h2>
           <div>
       
  <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#Modalpersonaadmin" style="float: right; margin:-66px 30px 0px 0px;">Nueva Persona</button>
{% include "modal/regis_persona_admin.html" %}  
           </div>
          
        <div class="controls">
            <input type="text" id="searchInput" placeholder="Buscar productos...">
            <select id="rowsPerPage">
                <option value="5">5 por página</option>
                <option value="10">10 por página</option>
                <option value="20">20 por página</option>
            </select>
        </div>

                <table id="myTable">
                <thead>
                    <tr>
                        <th>Nombre y Apellido</th>
                        <th>Cedula</th>
                        <th>Cargo</th>
                        <th>Gerencia</th>
                        <th >accion</th>
                    </tr>
                </thead>
                <tbody>
                {% for person in person %}
                    <tr>
                        
                    <td>{{ person.nombre }}  {{ person.apellido }}</td>
                    <td>{{ person.cedula }}</td>
                    <td>{{ person.cargo }}</td>
                    <td>{{ person.gerencia }}</td>
                        <td>
                            <!-- Example split danger button -->
                                  <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually">opcion</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Modalpersonaadmineditar{{ person.id_persona }}" href="#">Editar</a></li>
                                            
                                                <li><a href="{% url 'eliminar_persona' person.id_persona %}" class="dropdown-item">Eliminar</a></li>
                                        
                                            
                                        </ul>
                                    </div>
                        </td>
                    </tr>
                      {% include "modal/modal_persona_admin.html" %}   
                     {% endfor %}
                                         
                    </tbody>
            </table>

        <div class="pagination">
            <button id="prevBtn">Anterior</button>
            <span id="pageNumbers"></span>
            <button id="nextBtn">Siguiente</button>
        </div>
    </div>
                        
                    
                </main>

             
            </div>
        </div>
{% endblock %}