{% extends 'base/base_vidos.html' %}
{% block title %}Videos{% endblock %}
{% block content %}
    <div class="contenedor-tv mt-6">
        <img src="../../../static/img/mercal.jpg" alt="El Mercalito" class="muñequito">
        <div class="pantalla-video">
            {% if videos %}
                {% for video in videos %}
                    <video class="video-item" controls style="display: none;">
                        <source src="{{ video.location.url }}" type="video/mp4">
                    </video>
                {% endfor %}
                <div class="video-controls">
                    <button id="prev-btn" class="btn btn-primary">Anterior</button>
                    <button id="next-btn" class="btn btn-primary">Siguiente</button>
                </div>
            {% else %}
                <p>No hay videos disponibles.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}